img{
    width: 45px;
}

.result {
    border: 1px solid blue;
    width: 600px;
    margin: 20px auto;
    padding: 30px;
}
 

ul{
    list-style: none;
    width: 250px;
    text-align: left;
    margin: auto;
}